<job-hub-table [rows]="applicants"
               [columns]="columns"
               [loading]="isLoading"
               [pageSize]="take"
               [length]="total"
               (page)="onPage($event)"
               emptyDescription="No applicants to display.">

  <ng-template #nameColumn let-applicant="row">
    <div class="d-flex flex-column pr-20">
      <span class="font-13 font-weight-bold text-primary mb-1">{{ applicant.fullName }}</span>
    </div>
  </ng-template>

  <ng-template #emailColumn let-applicant="row">
    <span class="font-13 color-mine-shaft">{{ applicant.email }}</span>
  </ng-template>

  <ng-template #phoneColumn let-applicant="row">
    <span class="font-13 color-mine-shaft">{{ applicant.phone }}</span>
  </ng-template>

  <ng-template #cvColumn let-applicant="row">
    <a [href]="applicant.cv" target="_blank"><img src="assets/images/admin-dashboard/applicants.svg" alt="CV"></a>
  </ng-template>

  <ng-template #dateColumn let-applicant="row">
    <span class="font-13 color-mine-shaft">{{ applicant.createdAt | date }}</span>
  </ng-template>

  <ng-template #actionColumn>
    <job-hub-action-dropdown></job-hub-action-dropdown>
  </ng-template>
</job-hub-table>
