<section class="font-12 py-15">
  <div class="container d-flex justify-content-between">
    <div>
      <job-hub-social-buttons></job-hub-social-buttons>
      <a class="text-white ml-50" href="tel:18603246218">Need help? Call 860 324 6218</a>
    </div>
    <div>
      <!--<a class="text-white mx-20" [routerLink]="ROUTES.landingPages.hiring | routeToAbsolute" routerLinkActive="font-weight-bold">We are hiring</a>-->
      <!--<a class="text-white mx-20" [routerLink]="ROUTES.landingPages.blog | routeToAbsolute" routerLinkActive="font-weight-bold">Blog</a>-->
      <a class="text-white ml-20 mr-0" [routerLink]="ROUTES.auth.login | routeToAbsolute" routerLinkActive="font-weight-bold">Login</a>
    </div>
  </div>
</section>
