<div class="form-group" [class.label-input-group]="label">
  <label class="form-label" ngbDropdown placement="bottom-right" #dropdown="ngbDropdown" [container]="container">
    {{ label }}
    <input class="form-control cursor-pointer" [placeholder]="placeholder" [value]="value | optionLabel : clonedOptions : true" (click)="dropdown.open()" readonly>
    <job-hub-icon class="no-arrow cursor-pointer" icon="arrow-down" color="mine-shaft" ngbDropdownToggle></job-hub-icon>
    <div class="w-100 multi-select" ngbDropdownMenu aria-labelledby="dropdown">
      <ul class="list-unstyled mb-0">
        <li *ngFor="let option of clonedOptions" class="px-15 py-2 cursor-pointer d-flex align-items-center" (click)="toggleOption($event, option)">
          <mat-checkbox class="mb-0 mr-10" [(ngModel)]="option.selected"></mat-checkbox>
          <span class="font-weight-normal color-dove-gray pt-1">{{ option.label }}</span>
        </li>
      </ul>
    </div>
  </label>
</div>
