<form [formGroup]="form">
  <ng-container formArrayName="projects" *ngFor="let project of projects.controls; let i = index">

    <div *ngIf="expanded !== i"
         class="d-flex justify-content-between align-items-center py-15 pl-20 pr-10 bg-primary text-white rounded cursor-pointer mb-40"
         [class.bg-primary]="projects.controls[i].valid"
         [class.bg-dark]="projects.controls[i].invalid"
         (click)="expanded = i">
      <span class="font-weight-bold">#{{ i + 1 }} - {{ projects.controls[i].value.name }} {{ projects.controls[i].invalid ? '( Not completed )' : '' }}</span>
      <job-hub-icon color="white" icon="arrow-down"></job-hub-icon>
    </div>

    <ng-container *ngIf="expanded === i" [formGroupName]="i">
      <job-hub-text-input id="{{prefix}}_name" placeholder="Choose a name of your project" formControlName="name"></job-hub-text-input>
      <job-hub-address-auto-complete-input id="{{prefix}}_address" placeholder="What is the address of your project?" formControlName="address" (latLngChanged)="addressChanged($event, project)"></job-hub-address-auto-complete-input>
      <job-hub-select id="{{prefix}}_projectType" placeholder="Project Type" formControlName="projectType" [options]="projectAccessoryTypes"></job-hub-select>
      <job-hub-select id="{{prefix}}_locationType" placeholder="Project location on property" formControlName="locationType" [options]="projectLocationTypes"></job-hub-select>
      <div class="input-with-tooltip">
        <job-hub-text-input id="{{prefix}}_projectSize" placeholder="Approx size of project (Square footage)" formControlName="projectSize"></job-hub-text-input>
        <job-hub-information-tooltip content="Enter the approximate square footage of your project. If unknown, enter the approximate length and width of the project. Don't worry, your project consultant will help you determine this in more detail."></job-hub-information-tooltip>
      </div>
      <div class="input-with-tooltip">
        <job-hub-select id="{{prefix}}_shapeType" placeholder="Shape" formControlName="shapeType" [options]="projectShapeTypes"></job-hub-select>
        <job-hub-information-tooltip content="Will your project have straight corners, rounded corners or free-form(meaning a constant flow of curves)?"></job-hub-information-tooltip>
      </div>

      <p class="color-dove-gray mt-40 mb-25" id="{{prefix}}_accessories">
        Select what will be included in your hardscaping project
        <job-hub-information-tooltip class="ml-5" content="In addition to your core project what other accessories are you interested in?"></job-hub-information-tooltip>
      </p>

      <job-hub-image-card-selector [options]="accessoryTypes" formControlName="accessories"></job-hub-image-card-selector>

      <div class="row mt-35">
        <div class="input-with-tooltip col-12 col-md-6">
          <job-hub-select id="{{prefix}}_machineAccess" placeholder="Machine access" formControlName="machineAccess" [options]="machineAccessTypes"></job-hub-select>
          <job-hub-information-tooltip content="Is there at least an 8' entrance to where the project is being built? If not, taking down a fence post or moving shrubs are options."></job-hub-information-tooltip>
        </div>
        <div class="input-with-tooltip col-12 col-md-6">
          <job-hub-select id="{{prefix}}_propertyGrade" placeholder="Property grade" formControlName="propertyGrade" [options]="propertyGradeTypes"></job-hub-select>
          <job-hub-information-tooltip content="How level is the area where the project is being built?"></job-hub-information-tooltip>
        </div>
      </div>

      <div class="row">
        <div class="input-with-tooltip col-12 col-md-6">
          <job-hub-select id="{{prefix}}_soilType" placeholder="Soil type" formControlName="soilType" [options]="soilTypes"></job-hub-select>
          <job-hub-information-tooltip content="What type of soil do you have on your property? If you don't know, your project consultation can look it up for you."></job-hub-information-tooltip>
        </div>
        <div class="input-with-tooltip col-12 col-md-6">
          <job-hub-select id="{{prefix}}_drainageType" placeholder="Drainage" formControlName="drainageType" [options]="drainageTypes"></job-hub-select>
          <job-hub-information-tooltip content="After it rains, does the desired project area retain water for more than 24 hours or does it dry up?"></job-hub-information-tooltip>
        </div>
      </div>

      <job-hub-select id="{{prefix}}_timelineType" placeholder="What is the timeline for the project?" formControlName="timelineType" [options]="projectTimelineTypes"></job-hub-select>
      <div class="input-with-tooltip">
        <job-hub-text-input type="number" min="1" placeholder="Aprox project budget?" formControlName="budget"></job-hub-text-input>
        <job-hub-information-tooltip content="Do you have a budget in mind? In order to design the perfect project for your yard and budget it's good to have an idea of what you want to spend, this helps our project consultants design a project around what's affordable for you and your family."></job-hub-information-tooltip>
      </div>

      <h5 class="color-mine-shaft mb-25 mt-40">Attachments</h5>
      <p class="color-dove-gray mb-30">Upload a photo(s) of area or feel free to upload examples you like.</p>

      <div class="mb-20">
        <job-hub-photo-uploader formControlName="attachments"></job-hub-photo-uploader>
      </div>

      <job-hub-textarea placeholder="Comment" rows="6" formControlName="comment"></job-hub-textarea>
    </ng-container>
  </ng-container>

<!--  <div>-->
<!--    <button type="button" class="btn btn-primary btn-small mt-20 my-35" (click)="addNewProject()" [disabled]="form.invalid">Add another project?</button>-->
<!--  </div>-->
</form>
