<job-hub-jumbotron image="assets/images/landing-page/about/header.jpg" title="About us"></job-hub-jumbotron>
<job-hub-section-builder header="The History of" title="J&D Landscaping">
  <p class="color-dove-gray text-center mb-20 px-0 px-xl-150">In 2003 at the age of 16, Joseph D. Masciovecchio started his dream of becoming an entrepreneur and opened up his company “J&D Landscaping” which was known as “J&D Snow Removal and Lawn Care” in the early days.</p>
  <p class="color-dove-gray text-center mb-50 px-0 px-xl-150">The company started by focusing only on lawns and snow removal. However within the first year of business, Joe realized that he wanted more of a challenge than simply mowing a lawn or pushing snow.</p>

  <job-hub-timeline [timeline]="timeline"></job-hub-timeline>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" (click)="navigate()">Why choose us</button>
  </div>
</job-hub-section-builder>

<job-hub-branding></job-hub-branding>
