<h5 class="color-mine-shaft mb-25">Hardscape Inlays & Borders</h5>
<div class="row mb-50 color-dove-gray">
  <div class="col-md-12 col-lg-5">
    <p class="mb-20">
      You’ve made the decision to move forward with your Hardscape project, now it’s time to customize it! Why have the
      same boring patios your neighbor has when you can customize it to fit your style and taste? One of the best ways to
      customize a project is by adding different borders or inlays into the design.</p>
    <p>Customizations like this will help your project stand out from the others and create a unique feel in your back
      yard.</p>
  </div>
  <div class="col-md-12 col-lg-7 pl-lg-35">
    <img class="img-fluid" src="/assets/images/landing-page/services/inner-inlay-borders.png" alt="Inner Inlay Borders">
  </div>
</div>
<p class="color-dove-gray mb-35">
  Accessories like a Hardscape couch, bar, lighting, fire pit or sitting wall will make your patios even more useful and
  can be completed as part of the original project or in phases over the coming seasons. With J&D Landscaping your
  hardscape project possibilities are endless.
</p>
<job-hub-static-idea-board [ideas]="ideas"></job-hub-static-idea-board>

<job-hub-request-estimate-button center="true" class="d-block mt-100"></job-hub-request-estimate-button>
