<section class="pt-30 text-center overflow-auto pretty-scroll position-relative" (scroll)="onScroll($event)">
  <div class="container">
    <p class="text-primary">Step {{ step }} of {{ total }}</p>
    <h2 class="color-mine-shaft mb-35">{{ title }}</h2>
    <p class="color-dove-gray mb-50 px-0 px-xl-150">{{ description }}</p>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto" [class.col-md-12]="step === 3">
        <ng-container [ngSwitch]="step">
          <job-hub-project-general [addressAutoComplete]="true" *ngSwitchCase="1"></job-hub-project-general>
          <job-hub-consultation-schedule *ngSwitchCase="2"></job-hub-consultation-schedule>
          <job-hub-idea-select *ngSwitchCase="3" [hasSkip]="false"></job-hub-idea-select>
        </ng-container>
      </div>
    </div>

    <div class="position-relative footer-area">
      <div class="d-flex justify-content-center py-20 sticky bg-white">
        <button class="btn btn-primary" (click)="next()">{{ step < total ? 'Next' : 'Complete' }}</button>
      </div>
    </div>
  </div>
  <job-hub-spinner *ngIf="isLoading"></job-hub-spinner>
</section>
