<div class="alert alert-warning bg-color-tangerine mb-20 mt-n20" role="alert" *ngIf="showWarning">
  <div class="d-flex align-items-center">
    <div class="mr-10">
      <img class="img-fluid" src="assets/images/icons/toastr/question.svg" alt="Warning">
    </div>
    <div class="d-flex justify-content-between align-items-center flex-grow-1">
      <div class="font-12">
        <p class="mb-0 font-weight-bold">Warning</p>
        <p class="mb-0">Check all the information below before sending the estimate.</p>
      </div>
      <job-hub-icon icon="close" color="tangerine" class="cursor-pointer" (click)="showWarning = false"></job-hub-icon>
    </div>
  </div>
</div>
