<job-hub-table [rows]="contracts"
               [columns]="columns"
               [pageSize]="take"
               [length]="total"
               [loading]="isLoading"
               (page)="onPage($event)"
               emptyDescription="No contracts to display.">
  <ng-template #imageColumn let-contract="row">
    <job-hub-avatar [type]="contract.project.projectType"></job-hub-avatar>
  </ng-template>

  <ng-template #nameColumn let-contract="row">
    <div class="d-flex flex-column pr-20">
      <a class="font-13 font-weight-bold text-primary mb-1" (click)="selectContract.emit(contract.project.id)">{{ contract.project.name }}</a>
    </div>
  </ng-template>

  <ng-template #signColumn let-contract="row">
    <div class="d-flex flex-column pr-20">
      <a class="font-13 color-mine-shaft mb-1">{{ contract.signedDate ? (contract.signedDate | date) : '' }}</a>
    </div>
  </ng-template>

  <ng-template #statusColumn let-contract="row">
    <span class="font-13 text-primary">{{ contract.project.contractStatus | optionLabel }}</span>
  </ng-template>
</job-hub-table>
