<div class="shadow-2 rounded overflow-hidden">
  <mwl-calendar-month-view
    (dayClicked)="dayClicked($event)"
    [headerTemplate]="header"
    [cellTemplate]="cell"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="false">
  </mwl-calendar-month-view>
</div>

<ng-template #header let-days="days" let-locale="locale" let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate">
  <div class="d-flex rounded-top overflow-hidden">
    <div *ngFor="let day of days" class="flex-1 bg-color-blue-lagoon text-white font-12 py-2 px-20">
      <span>{{ day.date | calendarDate: 'monthViewColumnHeader' : locale }}</span>
    </div>
  </div>
</ng-template>

<ng-template
  #cell
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDelay="tooltipDelay"
  let-trackByEventId="trackByEventId"
  let-validateDrag="validateDrag">
  <div class="px-10 pt-5" [attr.aria-label]="{ day: day, locale: locale } | calendarA11y: 'monthCell'">
    <span class="font-weight-medium font-13 d-flex align-items-center justify-content-center jh-cal-day">{{day.date | calendarDate: 'monthViewDayNumber':locale}}</span>
  </div>
  <div class="jh-cal-events px-10 mt-10 pb-10" *ngIf="day.events.length > 0">
    <div *ngFor="let event of day.events.slice(0, 2); trackBy: trackByEventId"
         class="jh-cal-event rounded d-flex justify-content-between align-items-center"
         [mwlCalendarTooltip]="event.title | calendarEventTitle: 'monthTooltip':event"
         (mwlClick)="dayClicked({ day: day })">
      <div class="d-flex align-items-center">
        <span class="mr-5"><job-hub-schedule-icon [size]="16" [type]="event.meta.type"></job-hub-schedule-icon></span>
        <span class="font-10 font-weight-medium color-mine-shaft">{{ event.title }}</span>
      </div>
      <span class="dot"></span>
    </div>
    <span class="color-silver font-10 font-weight-medium pl-10" *ngIf="day.events.length > 2">{{ day.events.length - 2 }} more...</span>
  </div>
</ng-template>
