button {
  outline: none !important;
}

.btn {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  &.btn-small {
    font-size: 11px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &.btn-mini {
    font-size: 10px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
  &.btn-normal {
    min-width: 170px;
  }
  &.btn-danger {
    border-color: $japonica;
    background-color: $japonica;
    &:hover {
      background-color: $merlot;
      border-color: $merlot;
    }
  }
}

a.link-underline {
  &:hover {
    text-decoration: underline;
  }
}

.btn-send {
  width: 54px;
  height: 54px;
  padding: 0;
}
