.cal-week-view .cal-current-time-marker {
  background-color: $tangerine;
  height: 1px;
}
.cal-week-view {
  border-top: none;
}

.cal-week-view .cal-time-events {
  border: none;
}

.cal-week-view .cal-ends-within-day .cal-event {
  background-color: white;
  border-radius: 3px;
  border: none;
  height: 59px;
}
.cal-week-view .cal-hour-segment {
  display: flex;
  align-items: center;
}
.cal-week-view .cal-hour-odd {
  background-color: white;
}
.cal-week-view .cal-time {
  color: $dove-gray;
  font-weight: 500;
  font-size: 13px;
  background-color: white;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.cal-month-view .cal-days {
  border: none;
  & > div:last-child > div {
    border-bottom: none;
  }
}

mwl-calendar-month-cell {
  background-color: white !important;
  .jh-cal-day {
    color: $dove-gray;
    @include circle(26px);
  }
  &.cal-weekend .jh-cal-day {
    color: $japonica
  }
  &.cal-out-month .jh-cal-day {
    color: $mercury;
  }
  &.cal-today .jh-cal-day {
    color: white;
    background-color: $tangerine;
  }

  .jh-cal-event {
    padding: 7px 6px;
    margin-bottom: 2px;
    background-color: #F7FCFC;
    .dot {
      background-color: $niagara;
      @include circle(6px);
    }
  }
}

.cal-week-view .cal-all-day-events {
  border: none !important;
  border-bottom: 1px solid $niagara !important;
  //height: 61px;
}

.cal-week-view .cal-all-day-events .cal-events-row {
  height: 54px;
  margin-bottom: 2px;
}

.cal-week-view .cal-all-day-events .cal-starts-within-week .cal-event, .cal-week-view .cal-event, .cal-week-view .cal-all-day-events .cal-event {
  border: none;
  background-color: $black-squeeze;
  height: 54px;
  padding: 0 20px;
}
