.nav.nav-tabs {
  .nav-item {
    padding: 0 30px;
    .nav-link {
      border: none;
      border-bottom: 2px solid white;
      padding: 5px 0;
      color: $dove-gray;
      &.active {
        border-bottom-color: $niagara;
        color: $mine-shaft;
      }
    }
  }
}
