<section class="py-30 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-9">
        <p class="color-regent-gray font-weight-medium mb-20">Final Proposal</p>
        <job-hub-project-status-alert type="danger" text="Final Proposal Declined" *ngIf="proposal.status === FinalProposalStatus.Declined">Final Proposal Declined</job-hub-project-status-alert>
        <job-hub-project-status-alert type="warning" text="Contract Requested" *ngIf="project.contractStatus === ContractStatus.Requested">Final Proposal Declined</job-hub-project-status-alert>
        <job-hub-proposal-form [small]="true" [readonly]="true" [(proposal)]="proposal" [lock]="project.contractStatus !== ContractStatus.Pending"></job-hub-proposal-form>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="client-sticky-sidebar">

          <button class="btn btn-primary btn-small w-100" *ngIf="proposal.status === FinalProposalStatus.Accepted && project.contractStatus === ContractStatus.Pending" [routerLink]="[ROUTES.app.root, ROUTES.app.project, project.id, ROUTES.app.payment] | routeToAbsolute">Management</button>
          <button class="btn btn-warning text-white btn-small w-100" *ngIf="proposal.status === FinalProposalStatus.Pending && project.contractStatus === ContractStatus.Pending" (click)="acceptProject()">Accept Project</button>
          <button class="btn btn-warning text-white btn-small w-100" *ngIf="project.contractStatus === ContractStatus.Ready || project.contractStatus === ContractStatus.Accepted" [routerLink]="[ROUTES.app.root, ROUTES.app.project, project.id, ROUTES.app.contract] | routeToAbsolute">{{ project.contractStatus | contractBtnLabel }}</button>

          <job-hub-request-contract [project]="project" (contractRequested)="proposalFormRef.lockToggles()"></job-hub-request-contract>

          <div class="mt-35" *ngIf="project.latitude && project.longitude">
            <job-hub-map [latitude]="project.latitude" [longitude]="project.longitude"></job-hub-map>
          </div>

          <div *ngIf="project.assignedContractor" class="mt-35">
            <job-hub-request-chat [project]="project" [user]="project.assignedContractor"></job-hub-request-chat>
          </div>

        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-danger text-white btn-small" *ngIf="canBeDeclined" (click)="decline()">Decline</button>
    </div>
  </div>
  <job-hub-spinner *ngIf="isLoading"></job-hub-spinner>
</section>
