@import "../../../../../assets/theme";

.StripeElement {
  box-sizing: border-box;

  height: 50px;

  padding: 0.875rem 1.25rem;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $athens-gray;
  color: #495057 !important; // override stripe Element style

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.StripeElement--invalid {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(250, 117, 90, 0.75);
}

