<form [formGroup]="form" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="col-12 col-md-6">
      <job-hub-text-input type="password" label="Old password" placeholder="Old password" formControlName="old"></job-hub-text-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <job-hub-text-input type="password" label="New password" placeholder="New password" formControlName="password"></job-hub-text-input>
      <a class="text-primary font-12 font-weight-medium" (click)="updateProfile.emit()">Update profile</a>
    </div>
    <div class="col-12 col-md-6">
      <job-hub-text-input type="password" label="Confirm password" placeholder="Confirm password" formControlName="confirmPassword"></job-hub-text-input>
    </div>
  </div>

  <div class="mt-50 d-flex justify-content-center">
    <button class="btn btn-primary" [disabled]="form.invalid || isLoading">Change Password</button>
  </div>

  <job-hub-spinner *ngIf="isLoading"></job-hub-spinner>
</form>
