<a class="close" mat-dialog-close><span class="material-icons">close</span></a>
<h5 mat-dialog-title class="text-center mt-20 px-50 color-mine-shaft">Confirm skip estimate</h5>
<div mat-dialog-content class="pt-10 px-50 pretty-scroll">
  <p class="color-dove-gray font-14 text-center mx-20 mb-30">
    Select assigned contractor and visit date
  </p>
  <div class="mb-20">
    <form [formGroup]="form">
      <job-hub-select [options]="contractorOptions" label="Assigned to" formControlName="contractorUserId"></job-hub-select>
      <job-hub-date-time-picker formControlName="siteVisitDate"></job-hub-date-time-picker>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button class="btn btn-primary" [disabled]="!form.valid" (click)="skipEstimate()">Apply</button>
</div>

<job-hub-spinner *ngIf="isSaving"></job-hub-spinner>
