@import "../../../assets/theme";

section {
  @include absolute_fit_parent;
  .section-content {
    flex-grow: 1;
    @include pretty-scroll;
  }
}

nav {
  height: 64px;
  background-color: white;
  border-bottom: 1px solid $mercury;
}
