<section class="p-30">
  <job-hub-spinner *ngIf="isLoading"></job-hub-spinner>

  <div class="d-flex justify-content-between align-items-center mb-25">
    <p class="color-mine-shaft font-18 font-weight-medium mb-0">Job Position</p>
    <button type="button" class="btn btn-warning text-white btn-small" *ngIf="job" (click)="deleteJob()">Delete</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveJob()">
    <div class="row">
      <div class="col-12 col-md-4">
        <job-hub-text-input label="Job Position" placeholder="Job Position" formControlName="title"></job-hub-text-input>
      </div>
      <div class="col-12 col-md-3">
        <job-hub-select [options]="hiringOptions.jobTypeOptions" label="Job Type" placeholder="Job Type" formControlName="type"></job-hub-select>
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          <div class="col-12 col-md-5">
            <job-hub-yes-no-picker label="Remote" placeholder="No" formControlName="remote"></job-hub-yes-no-picker>
          </div>
          <div class="col-12 col-md-4">
            <job-hub-text-input type="number" min="1" label="Salary ($)" placeholder="$" formControlName="salary"></job-hub-text-input>
          </div>
          <div class="col-12 col-md-3">
            <job-hub-select [options]="hiringOptions.salaryTypeOptions" label="Per" placeholder="Month" formControlName="salaryType"></job-hub-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <job-hub-textarea label="Job Description" placeholder="Job Description" formControlName="description"></job-hub-textarea>
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid">{{ job ? 'Update' : 'Post' }} Job</button>
  </form>
</section>
