<div class="px-15 py-10 bg-white">
  <div class="d-flex align-items-center row">
    <div class="col-6 d-flex align-items-center">
      <job-hub-avatar [src]="user.avatar"></job-hub-avatar>
      <div class="d-flex flex-column ml-10">
        <span class="font-weight-bold text-primary font-13 cursor-pointer" (click)="navigate()">{{ user | fullName }}</span>
        <span class="text-primary font-11">{{ user.email }}</span>
      </div>
    </div>
    <div class="col-3 d-flex flex-column">
      <span class="font-11 color-dove-gray">Phone number</span>
      <span class="font-13 color-dove-gray">{{ user.phone }}</span>
    </div>

    <div class="col-3 d-flex flex-column">
      <span class="font-11 color-dove-gray">Joined</span>
      <span class="font-13 color-dove-gray">{{ user.createdAt | date }}</span>
    </div>
  </div>
</div>
