<div class="d-flex align-items-center p-15 justify-content-between row"
     [class.bg-color-black-squeeze]="schedule.type === ScheduleType.ProjectStart"
     [class.bg-white]="schedule.type !== ScheduleType.ProjectStart">
  <div class="col-5 d-flex align-items-center">
    <span class="time-span text-primary font-13 font-weight-medium" *ngIf="schedule.type !== ScheduleType.ProjectStart">{{ schedule.from | date : 'h:mm a' }}</span>
    <span class="time-span text-primary font-11 font-weight-medium text-center pr-15" *ngIf="schedule.type === ScheduleType.ProjectStart">All<br/>Day</span>
    <div class="image-span">
      <job-hub-schedule-icon [type]="schedule.type"></job-hub-schedule-icon>
    </div>
    <div class="d-flex flex-column">
      <span class="font-13 font-weight-bold color-mine-shaft">{{ schedule.data.name }}</span>
      <span class="font-11 color-dove-gray">{{ schedule.data.project?.address }}</span>
    </div>
  </div>
  <div class="col-4">
    <span class="font-13 color-dove-gray">{{ schedule.data.project?.address || schedule.data.user?.email }}</span>
  </div>
  <div class="col-3">
    <span class="font-13 color-dove-gray">{{ schedule.data.user?.phone }}</span>
  </div>
</div>
