<section class="py-30 mx-75 h-100 d-flex flex-column">
  <p class="font-18 font-weight-medium color-mine-shaft mb-30">Messages</p>
  <div class="d-flex flex-fit-parent">
    <div class="room-list d-flex flex-column">
      <job-hub-search-input (search)="keyword = $event"></job-hub-search-input>
      <div class="flex-fit-parent pretty-scroll">
        <div class="d-flex justify-content-between align-items-center cursor-pointer rounded py-20 pl-10 pr-15 mb-5"
             *ngFor="let chat of (chats$ | async | filterRooms : keyword)"
             [routerLink]="[chat.id]"
             routerLinkActive="active">
          <div class="d-flex align-items-center pr-10">
            <job-hub-avatar size="32" [src]="(chat | opponent).avatar"></job-hub-avatar>
            <div class="d-flex flex-column font-12 pl-10">
              <span class="font-weight-medium color-mine-shaft">{{ chat | opponent | fullName }}</span>
              <span class="color-dove-gray ellipse">{{ chat.project.name }}</span>
            </div>
          </div>
          <span class="dot d-flex align-items-center justify-content-center" *ngIf="chat.unread">
            <span>{{ chat.unread }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="room-detail pl-20">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
