@import "../../../assets/theme";

:host {
  z-index: 1001;
  position: relative;
  display: block;
}

.toastr-wrapper {
  width: 450px;
  position: fixed;
  right: 20px;
  top: 80px;
}

.img-wrapper {
  @include flex(width, 26px);
}
