@import "../../../../../assets/theme";

.bg-primary {
  &-transparent {
    background-color: #07A39D20; // $niagara
  }
}

.btn-add {
  padding: 0;
  @include circle(30px);
}

.summary-row .value-field {
  width: 200px;
}

.discount-input {
  height: 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $athens-gray;
  color: #495057 !important; // override stripe Element style

  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.discount-input:focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
