<section class="branding-section py-100">
  <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <div class="text-white text-center text-lg-left">
      <h1 class="mb-50">Quality. Efficient. Affordable.</h1>
      <h6>Now is the time to start planning your Hardscaping project, it's simple, easy and free. To get started today simply request a free estimate. </h6>
    </div>
    <div class="mt-30 mt-lg-0">
      <job-hub-request-estimate-button [center]="false"></job-hub-request-estimate-button>
    </div>
  </div>
</section>
